div.Destinations {
  padding: 20px;
  margin: 125px 0px 0 0px;
  background-color: rgba(255, 255, 255, 0.907);
  --imagesWidth: 550px;
  --imagesHeight: 400px;
  --marginRight: -100px;
  --marginLeft: -150px;
  h2 {
    text-align: center;
    padding: 50px;
  }
  div.ImageContainer {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    div.container1 {
      cursor: pointer;
      position: relative;
      img {
        width: var(--imagesWidth);
        height: var(--imagesHeight);
        clip-path: polygon(0 0, 70% 0, 100% 100%, 30% 100%);
        margin-right: -150px;
        z-index: 0;
      }
      div.overlay {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: #010a0c;
        overflow: hidden;

        height: 0;
        transition: 0.3s ease;
        clip-path: polygon(0 0, 70% 0, 100% 100%, 30% 100%);
        width: var(--imagesWidth);
        height: var(--imagesHeight);
        opacity: 0;
        height: 100%;
        div.text {
          white-space: nowrap;
          color: white;
          font-size: 20px;
          position: absolute;
          overflow: hidden;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          -ms-transform: translate(-50%, -50%);
        }
      }
      &:hover {
        div.overlay {
          transition: 500ms;
          opacity: 40%;
        }
      }
    }
    div.container2 {
      cursor: pointer;
      position: relative;
      img {
        width: var(--imagesWidth);
        height: var(--imagesHeight);
        clip-path: polygon(0 0, 100% 0, 70% 100%, 30% 100%);
        z-index: 1;
      }
      div.overlay {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: #010a0c;
        overflow: hidden;
        height: 0;
        transition: 0.3s ease;
        clip-path: polygon(0 0, 100% 0, 70% 100%, 30% 100%);
        width: var(--imagesWidth);
        height: var(--imagesHeight);
        opacity: 0;
        height: 100%;
        div.text {
          white-space: nowrap;
          color: white;
          font-size: 20px;
          position: absolute;
          overflow: hidden;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          -ms-transform: translate(-50%, -50%);
        }
      }
      &:hover {
        div.overlay {
          transition: 500ms;
          opacity: 40%;
        }
      }
    }
    div.container3 {
      cursor: pointer;
      position: relative;
      img {
        width: var(--imagesWidth);
        height: var(--imagesHeight);
        margin-left: var(--marginLeft);
        clip-path: polygon(30% 0, 100% 0, 70% 100%, 0 100%);
      }
      div.overlay {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: #010a0c;
        overflow: hidden;
        height: 0;
        transition: 0.3s ease;
        clip-path: polygon(30% 0, 100% 0, 70% 100%, 0 100%);
        margin-left: var(--marginLeft);
        width: var(--imagesWidth);
        height: var(--imagesHeight);
        opacity: 0;
        height: 100%;
        div.text {
          white-space: nowrap;
          color: white;
          font-size: 20px;
          position: absolute;
          overflow: hidden;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          -ms-transform: translate(-50%, -50%);
        }
      }
      &:hover {
        div.overlay {
          transition: 500ms;
          opacity: 40%;
        }
      }
    }
  }
  p {
    padding: 60px;
    width: 80%;
    margin: auto;
    text-align: center;
  }
}
@media only screen and (max-width: 1000px) {
  div.Destinations {
    padding: 20px;
    margin: 125px 0px 0 0px;
    background-color: rgba(255, 255, 255, 0.907);
    --imagesWidth: 85vw;
    --imagesHeight: 25vh;

    h2 {
      text-align: center;
      padding: 50px;
    }
    div.ImageContainer {
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-items: center;
      align-items: center;
      div.container1 {
        cursor: pointer;
        position: relative;
        img {
          width: var(--imagesWidth);
          height: var(--imagesHeight);
          clip-path: none;
          margin: 0;
          z-index: 0;
        }
        div.overlay {
          position: absolute;
          bottom: 0;
          left: 0;
          right: 0;
          background-color: #010a0c;
          overflow: hidden;
          margin: 0;
          height: 0;
          transition: 0.3s ease;
          clip-path: none;
          width: var(--imagesWidth);
          height: var(--imagesHeight);
          opacity: 0;
          height: 100%;
          div.text {
            white-space: nowrap;
            color: white;
            font-size: 20px;
            position: absolute;
            overflow: hidden;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%);
          }
        }
        &:hover {
          div.overlay {
            transition: 500ms;
            opacity: 40%;
          }
        }
      }
      div.container2 {
        cursor: pointer;
        position: relative;
        img {
          width: var(--imagesWidth);
          height: var(--imagesHeight);
          clip-path: none;
          z-index: 1;
          margin: 0;
        }
        div.overlay {
          position: absolute;
          bottom: 0;
          left: 0;
          right: 0;
          background-color: #010a0c;
          overflow: hidden;
          height: 0;
          transition: 0.3s ease;
          clip-path: none;
          width: var(--imagesWidth);
          height: var(--imagesHeight);
          opacity: 0;
          margin: 0;
          height: 100%;
          div.text {
            white-space: nowrap;
            color: white;
            font-size: 20px;
            position: absolute;
            overflow: hidden;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%);
          }
        }
        &:hover {
          div.overlay {
            transition: 500ms;
            opacity: 40%;
          }
        }
      }
      div.container3 {
        cursor: pointer;
        position: relative;
        img {
          width: var(--imagesWidth);
          height: var(--imagesHeight);
          margin: 0;
          clip-path: none;
        }
        div.overlay {
          position: absolute;
          bottom: 0;
          left: 0;
          right: 0;
          background-color: #010a0c;
          overflow: hidden;
          height: 0;
          transition: 0.3s ease;
          clip-path: none;
          margin: 0;
          width: var(--imagesWidth);
          height: var(--imagesHeight);
          opacity: 0;
          height: 100%;
          div.text {
            white-space: nowrap;
            color: white;
            font-size: 20px;
            position: absolute;
            overflow: hidden;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%);
          }
        }
        &:hover {
          div.overlay {
            transition: 500ms;
            opacity: 40%;
          }
        }
      }
    }
    p {
      padding: 15px;
      width: 100%;
      font-weight: 600;
      text-align: center;
    }
  }
}
