@keyframes slidein {
  from {
    z-index: 0;
  }

  to {
    z-index: 3;
  }
}
div.Services {
  margin: auto;
  font-family: sans-serif;
  overflow-x: hidden;

  div.header {
    h1 {
      color: white;
      position: relative;
      height: 100px;
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
      margin: auto;
      margin-bottom: 50px;
    }

    p {
    }
  }

  div.flex_cont {
    display: grid;
    grid-template-columns: 47% 6% 47%;

    div.Servicescol {
      background-color: rgba(255, 255, 255, 0.923);
      padding: 40px;
      padding-top: 50px;
      display: grid;
      grid-template-rows: 33.33% 33.33% 33.33%;
      span.image {
        display: flex;
        justify-content: flex-end;
        padding: 20px;

        img {
          cursor: pointer;
          width: 100%;
          border-radius: 5px;
        }
      }
      p.text {
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 20px;
        background-color: rgba(197, 234, 242, 0.85);
        padding: 20px;
        border-radius: 20px;
        margin: auto;
        h3 {
          padding-bottom: 15px;
        }
      }
    }

    div.ImageButton {
      display: grid;
      place-items: center;
      position: relative;
      align-items: center;
      grid-template-rows: 33% 33% 33%;
      button {
        z-index: 1;
        width: 20px;
        height: 20px;
        border-radius: 50%;
        background-color: rgb(230, 176, 0);
        border: none;
        transition: 400ms;
        color: white;
        cursor: pointer;
        &:hover {
          transition: 300ms;
          width: 80px;
          height: 40px;
          border-radius: 5px;
          margin-right: 0px;
        }
      }
      div.stick {
        z-index: 0;
        position: absolute;
        background-color: rgba(230, 176, 0, 1);
        width: 5px;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        height: 100%;
        border-radius: 20px;
      }
    }
    div.RightSide {
      padding: 40px;
      padding-top: 50px;
      background-color: rgba(255, 255, 255, 0.923);
      display: grid;
      grid-template-rows: 33% 33% 33%;
      span.image {
        display: flex;
        justify-content: flex-start;
        img {
          cursor: pointer;
          width: 100%;
          border-radius: 5px;
        }

        p.text {
          background-color: rgba(197, 234, 242, 0.85);
          padding: 20px;
          font-size: 20px;
          border-radius: 20px;
          margin: auto;
          color: black;
          h3 {
            text-align: center;
            color: black;

            padding-bottom: 15px;
          }
        }
      }
    }
  }
}
@keyframes shadow {
  from {
    height: 0px;
  }
  to {
    height: calc(100% - 40px);
  }
}
@keyframes text {
  from {
    opacity: 0;
  }
  to {
    opacity: 100%;
  }
}
@media screen and (max-width: 1300px) {
  div.Services {
    div.flex_cont {
      display: grid;
      grid-template-columns: 100%;
      div.Servicescol {
        padding: 0px;
        span.image {
          position: relative;
          img {
            width: 100%;
            z-index: 1;
          }
          button {
            position: absolute;
            bottom: 30px;
            left: calc(50% - 40px);
            padding: 10px 20px 10px 20px;
            background-color: #030202d2;
            border: none;
            font-size: 15px;
            color: rgba(255, 255, 255, 0.733);
            font-weight: 600;
            border-radius: 5px;
            cursor: pointer;
            z-index: 3;
            transition: 300ms;
            &:hover {
              transition: 300ms;
              color: rgb(255, 255, 255);
            }
          }
          div.shadow {
            animation-name: shadow;
            animation-duration: 1s;
            position: absolute;
            top: 0;
            bottom: 0;
            right: 0;
            left: 0;
            z-index: 2;
            margin: 20px;
            background-color: rgba(0, 0, 0, 0.527);

            h5,
            h2 {
              animation-name: text;
              animation-duration: 1s;
              transition: 600ms;
              padding: 10px;
              text-align: center;
              font-size: 11px;
              font-weight: 500;
            }
            h2 {
              transition: 600ms;
              text-decoration: underline 2px rgba(223, 216, 216, 0.829);
              font-weight: 600;
              font-size: 15px;
            }
          }
        }
      }
    }
  }
}
